
.form {
	h4 {
		font-weight: 300;
		color: @grey4;
		font-size: 14px;
	}

	table {
		text-align: left;
		width: 100%;
		thead {
			.attending {
				text-align: center;
				&:not([colspan="1"]) {
					background-color: @grey1;
				}
			}
			.event {
				text-align: center;
				padding: 0px 5px;
			}
		}
		tbody {
			tr {
				td {
					input[type="text"] {
						box-sizing: border-box;
						width: 100%;
					}
					input[type="checkbox"] {
						font-size: 64px;
					}
					label {
						display: block;
						text-align: center;
					}
				}
			}
		}
	}

	.plusOne {
		button {
			margin-top: 0px;
		}
	}
}
